@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  padding: 8px;
  font-family: 'Quicksand', sans-serif;
}

p {
  background-color: #F3F3F3;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
}
